n8n-workflows/hr-ticket-triage.json
{
    "name": "HR Ticket Triage",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "hr-ticket",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-1",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ],
            "webhookId": "hr-ticket"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-mnli",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"inputs\": \"{{ $json.description }}\",\n  \"parameters\": {\n    \"candidate_labels\": [\"Benefits\", \"PTO\", \"Payroll\", \"Policy\", \"Onboarding\", \"Offboarding\", \"Complaint\", \"General\"]\n  }\n}",
                "options": {}
            },
            "id": "huggingface-1",
            "name": "HuggingFace Classification",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                470,
                300
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "huggingface-cred",
                    "name": "HuggingFace API"
                }
            }
        },
        {
            "parameters": {
                "mode": "raw",
                "jsonOutput": "={\n  \"ticket_id\": \"{{ $('Webhook').item.json.id }}\",\n  \"employee_name\": \"{{ $('Webhook').item.json.employee_name }}\",\n  \"description\": \"{{ $('Webhook').item.json.description }}\",\n  \"ai_category\": \"{{ $json.labels[0] }}\",\n  \"ai_confidence\": {{ $json.scores[0] }}\n}",
                "options": {}
            },
            "id": "set-result-1",
            "name": "Format Result",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.2,
            "position": [
                690,
                300
            ]
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=http://host.docker.internal:5001/api/tickets/{{ $json.ticket_id }}",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"ai_category\": \"{{ $json.ai_category }}\",\n  \"ai_confidence\": {{ $json.ai_confidence }},\n  \"status\": \"classified\"\n}",
                "options": {}
            },
            "id": "update-ticket-1",
            "name": "Update Ticket",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                910,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"success\": true,\n  \"ticket_id\": \"{{ $('Format Result').item.json.ticket_id }}\",\n  \"category\": \"{{ $('Format Result').item.json.ai_category }}\",\n  \"confidence\": {{ $('Format Result').item.json.ai_confidence }}\n}",
                "options": {}
            },
            "id": "respond-1",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1130,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "HuggingFace Classification",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HuggingFace Classification": {
            "main": [
                [
                    {
                        "node": "Format Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Result": {
            "main": [
                [
                    {
                        "node": "Update Ticket",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Ticket": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0
}